{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
    <meta name="rst-reference-url" content="{% url admin:rst_reference %}" />
    <script>
        (function($) {
            $(document).ready(function() {
                var url = $('meta[name="rst-reference-url"]').attr('content'),
                    $link = $('<a />');
                $link.attr('href', url);
                $link.css({
                    cursor: 'help',
                    paddingLeft: '10px',
                    marginLeft: '8em',
                    fontSize: '12px'
                });
                $link.click(function(e) {
                    e.preventDefault();
                    return showAddAnotherPopup(this);
                });
                $link.text('Markup Reference');
                $('#id_text').after('<br>',$link);
            });
        })(django.jQuery);
    </script>
{% endblock %}