#wrapper, #sidebar-container {
    width: $content-width + $gap-width + $viewer-width;
    margin: 0 auto;
}

#wrapper {
    position: relative;
    @include clearfix;
    padding: 0 12px;
    width: 5;
}

#content-container {
    @include float(left);
    position: relative;
    z-index: 2;
}

#content-outer {
    @include box($content-width, $padding-v: 40px);
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
}

#sidebar-container {
    position: static;
    z-index: 1;
    top: 24px;
    
    &.fixed {
        position: fixed;
    }
}

#sidebar {
    @include float(right);
    width: $viewer-width;
}

#viewer {
    @include box($viewer-width, 0, 0);
    height: $viewer-height;
}

#toggles, #webgl-not-supported {
    @include box($viewer-width);
}

#toggles, #status, #webgl-not-supported {
    margin-top: 16px;
}